backend:
  name: git-gateway
  branch: master
 
publish_mode: editorial_workflow
 
media_folder: "docs/.vuepress/public/upload"
public_folder: "/upload"
 
collections:
  - name: "doc"
    label: "Doc"
    folder: "docs"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "Homepage Banner"
    label: "Homepage Banner"
    folder: "docs/homepage-banner"
    create: false
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "image", name: "image", widget: "image"}